#book-review {
  padding-top: 5em;
  padding-bottom: 5em;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  gap: 3%;
  background: url("./img/blob.svg") fixed no-repeat 100% 100px;
  background-size: 500px;
}

.book-description {
  background: white;
  border-radius: $border-radius-box;
  @include box-shadow();
  margin-left: 12em;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  height: 32em;

  img {
    max-width: 17em;
    margin: 40px;
    padding: 12px;
    background: rgb(59, 59, 59);
    border-radius: $border-radius-box;
    @include box-shadow();
  }

  .book-description-text {
    padding: 2em 4em 2em 0;

    p {
      font-size: 1.2em;
      font-weight: 400;
    }

    strong {
      font-weight: 600;
    }
  }
}

.review-list {
  border-radius: $border-radius-box;
  @include box-shadow();
  margin-right: 12em;
  padding: 1em 2em 1em 2em;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  display: table;
  background: white;

  h3 {
    margin: 0.4em 0 0.7em 0;
    font-size: 1.6em;
  }

  i {
    color: gold;
  }

  span i {
    color: white;
    padding-bottom: 1.3em;
  }

  li {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6em;
    display: table-row;

    strong {
      font-weight: 600;
    }
  }
}

.review-form {
  background: url("./img/bg-2.png") fixed no-repeat 0% 400px;
  background-size: 30em;
  height: 35em;
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  gap: 3%;
  padding-bottom: 4em;

  .review-form-bg {
    margin-left: 12em;
    text-shadow: 3px 3px 2px #b3b1b1;
    padding-left: 5em;
    padding-right: 5em;

    h1 {
      color: white;
      font-size: 3.5em;
      margin-top: 0;
    }

    p {
      color: white;
      font-size: 2em;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
    padding-bottom: 1em;
    background: white;
    margin-right: 12em;
    max-height: 25em;
    max-width: 436px;
    border-radius: $border-radius-box;
    @include box-shadow();

    label {
        font-weight: 600;
        font-size: 1.2em;
        padding-top: .7em;
    }

    input, select, textarea {
        padding: .5em;
        border-radius: $border-radius-box;
    }

    textarea {
        max-width: 416px;
    }

    input[type=submit] {
        margin: 0 auto;
        margin-top: 1em;
        width: 6em;
    }
  }
}

aside {
  background: #4a4a50;
  color: #ffffff;
  height: 10em;
  margin: 0 auto;
  padding: 1em;

  .contact-links,
  .contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-text {
    flex-direction: column;
  }

  i {
    color: white;
    padding-right: 0.3em;
  }

  h2 {
    margin: 0;
    font-weight: normal;
  }
}

.contact-links {
  li {
    display: inline-block;
    margin-left: 1.4em;
  }
  li a {
    text-decoration: none;
    color: black;
  }
}
