.dropdown {
  display: none;
  padding-left: 2.5em;
  padding-top: 2em;
  width: 2em;
  margin-right: auto;

  .fas {
    font-size: 2em;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $color-text;
  }

  li {
    cursor: pointer;
    background: $color2;
    border-bottom: 1px solid black;
    width: 4em;
    font-size: 1.3em;
    text-align: center;
  }

  li:hover,
  li:focus {
      background: $color-text;
      @include transition(.5s ease-in-out);

      a {
        color: white;
      }
  }
}

.dropdown-enter,
.dropdown-leave-to {
  transform: scaleY(1);
  opacity: 0;
}

.dropdown-enter-to,
.dropdown-leave {
  opacity: 1;
  transform: scaleY(1);
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.3s ease-in-out;
  transform-origin: top;
}

@media (max-width: 1050px) {
  .dropdown {
    display: inline-block;
  }

  .links,
  .sign-up {
    display: none;
  }

}
