#quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30em;
  margin-bottom: 5em;
  background-image: url("./img/quote-left.png"), url("./img/quote-right.png");
  background-position: 13% 0%, 88% 84%;
  background-size: 200px;
  background-repeat: no-repeat;

  .quote-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    color: black;
    width: 50%;
    height: 14em;
    padding: 2em;
    margin-top: 5em;
    border-radius: $border-radius-box;
    @include box-shadow;
  }

  .quote-text h2 {
    margin: 0;
    padding-bottom: 1em;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
  }

  .quote-text p {
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: 1.2em;
  }

  .quote-text p:nth-of-type(2) {
    margin-top: 0.6em;
    font-size: 1.1em;
  }

  .changeQuote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: auto;
    outline: 1px solid transparent;
    width: 7em;
    height: 3em;
    @include gradient-button();
    @include transition(0.5s ease-in-out);
  }

  .changeQuote:hover,
  .changeQuote:focus {
    @include scale();
    cursor: pointer;
    background-position: left;
    color: white;
  }
}

/*
Quote Animations
*/
.card-text p {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.animate {
  -webkit-animation: fadeInTranslateX ease 1s;
  animation: fadeInTranslateX ease 1s;
}

@-webkit-keyframes fadeInTranslateX {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes fadeInTranslateX {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

//Adaptive
@media (max-width: 990px) {
  #quote-section {
    background-position: 0% 0%, 100% 100%;
  }

  #quote-section .quote-text {
    width: 26em;
    height: 17em;
  }
}

@media (max-width: 550px) {
  #quote-section {
    background-image: none;
  }
  
  #quote-section .quote-text {
    width: 21.7em;
    height: 19em;
  }
}

@media (max-width: 410px) {
  #quote-section .quote-text {
    width: 18em;
  }
}

@media (max-width: 365px) {
  #quote-section .quote-text {
    width: 15em;
    height: 23em;
  }
}
