$border-radius-box: 8px;
$color1: #c3f5d8;
$color2: #cfd3f8;
$header-color: rgb(124, 231, 217);
$color-text: #4d3b96;

@mixin gradient-bg {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from($color1),
    to($color2)
  );
  background: -o-linear-gradient(right, $color1, $color2);
  background: linear-gradient(to left, $color1, $color2);
}

@mixin box-shadow {
  -webkit-box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.64);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.64);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin scale {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
