.welcome {
  color: white;
  text-align: left;
  width: 100%;
  height: 35em;
  padding-top: 9em;
  padding-bottom: 10em;
  @include text-shadow();

  .inner-section {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px white;
    border-style: solid none;

    h1 {
      margin: 0 auto;
      padding: 50px 0 30px 0;
      font-weight: 900;
      font-size: 6.5em;
      letter-spacing: 0.01em;
    }

    p {
      font-size: 2.5em;
      letter-spacing: 0.01em;
      margin: 0;
      padding-bottom: 20px;
    }
  }

  .inner-section:last-child {
    padding-bottom: 50px;
  }
}

@media (max-width: 1050px) {
  .welcome {
    height: auto;
  }
  .welcome .inner-section {
    width: 80%;
    h1 {
      font-size: 5em;
    }

    p {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 700px) {
  .welcome {
    padding-top: 5em;
    padding-bottom: 6em;
  }
  
  .welcome .inner-section {
    h1 {
      font-size: 4em;
    }

    p {
      font-size: 1.4em;
    }
  }
}
