@import './scss/welcome';
@import './scss/modal';
@import './scss/book';


$color1: #caf5dc;
$color2: #d8dbfc;

html {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, $color1, $color2);
}

#app,
.modals {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#app h1 {
  text-align: center;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

header {
  height: 6em;
  width: 100%;
  background: rgb(241, 241, 217);
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: flex-start;

  ul {
    li {
      display: inline-block;
      padding-top: 2em;
      font-size: 1.1em;
    }

    li:nth-of-type(1) {
      margin-right: 1em;
      margin-left: 2em;
    }

    li:nth-of-type(2) {
      margin-right: 2em;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }

  .sign-up a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em;
    transition: .3s ease-in-out ;
  }

  .sign-up a:hover,
  .sign-up a:focus {
    cursor: pointer;
    background: $color1;
    border: 1px solid $color2;
  }

  .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}


